<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="countries.length > 0">
    <ion-item *ngFor="let country of countries">
      <ion-thumbnail slot="start">
        <img [src]="country.flags?.png" alt="Flag">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ country.name.official }}</h2>
        <p>Population: {{ country.population }}</p>
        <p>Region: {{ country.region }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="countries.length === 0">
    <p>No countries found.</p>
  </ion-text>
</ion-content>
