<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="weather; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ weather.name }}</ion-card-title>
        <p>Temperature: {{ weather.main.temp }}°C</p>
        <p>Condition: {{ weather.weather[0].description }}</p>
      </ion-card-header>
      <ion-card-content>
        <img [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'" alt="Weather Icon">
        <p>Feels like: {{ weather.main.feels_like }}°C</p>
        <p>Humidity: {{ weather.main.humidity }}%</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #loading>
    <ion-text>
      <p>Loading weather data...</p>
    </ion-text>
  </ng-template>
</ion-content>


