<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Country, News & Weather App
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/settings'">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>G00426060</strong>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Search Country</ion-label>
    <ion-input placeholder="Type here a country" [(ngModel)]="searchTerm"></ion-input>
  </ion-item>
  
  <ion-button expand="full" color="primary" (click)="navigateToCountries()">
    Search
  </ion-button>
  <ion-button [routerLink]="'/settings'" color="tertiary">
    <ion-icon name="settings-outline"></ion-icon>
  </ion-button>
  
</ion-content>


