<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-radio-group [(ngModel)]="unit" (ionChange)="onUnitChange($event)">
      <ion-list-header>
        <ion-label>Select Temperature Unit</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Metric (°C)</ion-label>
        <ion-radio slot="start" value="Metric"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Imperial (°F)</ion-label>
        <ion-radio slot="start" value="Imperial"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

